body {
    background-color: #e7e5dc;
    padding: 10px;
}

.home {
    text-decoration: none;
    color: #e7e5dc;
    font-family: "Jost", sans-serif;
    font-weight: bold;
    padding: 5px;
    border:none;
    border-radius: 8px;
    background-color: #662222;
}

h1 {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.botao {
    background-color: #000;
    padding: 5px;
    border-radius: 8px;
    border: none;
}

.botao:hover {
    background-color: #662222;
    border-color: #351212;
}

.text {
    color: #e7e5dc;
    text-decoration: none;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

h3 {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    height: 10px;
}

p {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

img {
    width: 200px;
    border-radius: 15px;
}