body {
  background-color: #e7e5dc;
  margin: 0;
  padding: 0;
  text-align: center;
}

.caprasimo-regular {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

.jost-uniquifier {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-indent: 1em;
  padding-left: 8px;
  text-align: left;
}

.peq {
  font-weight: bold;
  font-style: italic;
}

.home {
  background-color: #662222;
  text-decoration: none;
  padding: 10px;
}

.link {
  padding: 10px;
  font-family: "Jost", sans-serif;
  align-items: center;
  margin: 6px;
  text-decoration: none;
  color: #e7e5dc;
  font-size: 17px;
}

.link:hover {
  margin: 3px;
  font-weight: bold;
  background-color: #e7e5dc2a;
  bo
}

.botao {
  border: none;
  background-color: #662222;
  padding: 3px;
  margin: 3px;
  width: 200px;
  height: 55px;
  text-align: center;
  border-radius: 15px;
}

.text-botao {
  text-decoration: none;
  color: #e7e5dc;
  font-size: 18px;
}