body {
  background-color: #e7e5dc;
  margin: 0;
  padding: 0;
}

.caprasimo-regular {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.jost-uniquifier {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-indent: 1em;
}

.peq {
  font-weight: bold;
  font-style: italic;
}

div {
  background-color: #662222;
  text-decoration: none;
}

.link {
  align-items: center;
  text-align: center;
  margin: 6px;
  text-decoration: none;
  color: #e7e5dc;
  font-size: 17px;
}

.link:hover {
  margin: 3px;
  font-weight: bold;

}

.botao {
  border-style: solid;
  border-color: #351212;
  border-width: 1px;
  border-radius: 8px;
  background-color: #662222;
  padding: 3px;
  margin: 3px;
  width: 200px;
  height: 55px;

}
.text-botao {
  text-decoration: none;
  color: #e7e5dc;
  font-size: 18px;
}