body {
    background-color: #e7e5dc;
    margin: 0px;
    padding: 10px;
}
.home {
    text-decoration: none;
    color: #e7e5dc;
    font-family: "Jost", sans-serif;
    font-weight: bold;
    padding: 5px;
    border:none;
    border-radius: 8px;
    background-color: #662222;
}

h1{
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    height: 20px;
}
p{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-indent: 8px;
}
.fala{
    font-style: italic;
    font-weight: 500;
}
.restaurante{
    width: 250px;
    border-radius: 15px;
    
}
.chef{
    width: 250px;
    border-radius: 15px;
    
}
